body { 
    background: #666; 
}
#cardtable {
 border: 3px solid black;
 background-color: green;
}
#hiden_images {
 display: none;
}
#nav {
    border: 2px solid red;
}
#hands td {
   background-color: gold;
   border: 1px solid black;
}