<!DOCTYPE html>
<html>
<head>
  <title>Playhand</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'development-bundle/jquery-1.4.2.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="error_msg"></div>
<div id="info_msg"></div>
<div id="nav"><button id="new_hand">New</button></nav>
  <%= yield %>
</body>
</html>
